---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import { appLayoutImage, codeName } from "../scripts/constants";
import { pages } from "../scripts/pages";

const title = `Oops, Page "${Astro.url.pathname}" Not Found!`;
---

<!doctype html>
<html lang="en">
  <Head pageTitle={title} pageDescription="" />

  <body class="font-mont bg-navy">
    <!-- site layout -->
    <section
      class="flex flex-col justify-between min-h-full space-y-10 text-center text-white"
    >
      <!-- nav bar -->
      <nav class="h-1/4"></nav>

      <!-- main -->
      <main class="px-10 mx-auto lg:px-40 h-3/4">
        <div class="flex flex-col items-center justify-center">
          <p class="m-4 text-3xl font-bold font-mont">
            Oops, Page <span class="text-yellow">"{Astro.url.pathname}"</span> Not
            Found!
          </p>
          <div class="m-4 space-y-2 text-lg text-yellow">
            <p>Not all who wander are lost, but you might be!</p>
            <p>
              No worries, you can use these links to guide you back to the right path!
            </p>
          </div>
        </div>

        <div
          class="flex flex-col mt-6 mb-6 w-full h-full items-center justify-center"
        >
          <div class="flex flex-col items-start space-y-2">
            <!-- page buttons -->
            {
              pages.map((pageItem) => (
                <a
                  href={pageItem.href}
                  class="text-base transition-all font-bold uppercase text-white hover:underline hover:cursor-pointer hover:text-yellow"
                >
                  ✤ <span class="underline"> {pageItem.label} </span>
                </a>
              ))
            }
          </div>
        </div>
      </main>

      <!-- footer -->
      <!-- this is how we pass in booleans {true or false} -->
      <Footer colors="bg-transparent text-white" />
      <!-- end footer -->
    </section>
    <!-- end layout -->
  </body>
</html>
